.name-and-avatar {
    display: flex;
    align-items: center;
}

.name-and-avatar img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 1rem;
}

.name-and-avatar .name {
    font-size: 1.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-weight: 600;
}

.name-and-avatar .username {
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 0;
}

.bio-wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bio-wrapper p {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.info {
    display: flex;
    align-items: row;
    justify-content: space-between;
}