<label for="post-title"><%= __('title') %></label>
<input type="text" id="post-title" name="post-title" placeholder="<%= __('title') %>" />

<label for="post-content"><%= __('content') %></label>
<textarea id="post-content" name="post-content"></textarea>

<label for="post-topic">Topic</label>
<select id="post-topic" name="post-topic">
    <option value="">-- Select Topic --</option>
    <option value="news">News</option>
    <option value="tech">Tech</option>
    <option value="sport">Sport</option>
    <option value="fun">Fun</option>
</select>

<button type="submit" id="create-post"><%= __('create') %></button>