<div class="navbar">
    <a href="/" class="home">Home</a>

    <% if (user.authenticated) { %>
        <p><a href="/notifications">Notifications: <%= user.notificationAmount %></a></p>

        <div class="user-info">
            <p class="username"><img src="<%= user.avatar %>" /><span class="text"><%= user.displayName %></span></p>

            <div class="user-actions">
                <a class="profile-link" href="/@<%= user.username %>">Profile</a>
                <a class="dashboard-link" href="/dashboard">Dashboard</a>
                <a class="settings-link" href="/settings">Settings</a>
                <a class="logout-link" href="/logout">Logout</a>
            </div>
        </div>
    <% } else { %>
            <div class="user-info">
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            </div>
    <% } %>
</div>