<div class="navbar">
    <a href="/" class="home">Home</a>

    <% if (user.authenticated) { %>
        <div class="user-info">
            <p class="username"><img src="<%= user.avatar %>" /><span class="text"><%= user.displayName %></span></p>

            <div class="user-actions">
                <a href="/@<%= user.username %>">Profile</a>
                <a href="/settings">Settings</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    <% } else { %>
            <div class="user-info">
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            </div>
    <% } %>
</div>

<script defer src="/scripts/navbar.js"></script>