<div id="notifications">
    <% if (notifications.length == 0) { %>
        <p>No notifications yet</p>
    <% } else { %>
        <% for (const notification of notifications) { %>
            <div class="notification">
                <p><%= JSON.stringify(notification) %></p>
            </div>
        <% } %>
    <% } %>
</div>

<button id="loadMore">Load more...</button>

<script>let loaded = Number.parseInt("<%= notifications.length %>"); // This sucks, but else vscode and eslint get mad</script>